@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand-orange: #D62828;
  --color-brand-red: #B91C1C;
  --color-brand-green: #009246;
  --color-brand-yellow: #F4C430;
  --color-brand-dark: #09090b;
  --color-brand-gray: #18181b;
  --color-brand-light: #F5F5F5;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light Mode Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #E5E7EB;
}

::-webkit-scrollbar-thumb {
  background: var(--color-brand-orange);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand-red);
}

/* Dark Mode Scrollbar override */
.dark ::-webkit-scrollbar-track {
  background: #18181b;
}

.dark ::-webkit-scrollbar-thumb {
  background: var(--color-brand-orange);
}

/* Hide scrollbar for specific elements */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
